---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import { getAllPosts, getLastPost } from "../../consts";
import SectionTitle from "../../components/SectionTitle.astro";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container py-6 md:py-12">
      <section>
        <SectionTitle
          subtitle="BLOG"
          title="Nos Articles"
          subtext="Retrouvez l'intégralité des posts de notre blog, regroupés sur cette page."
        />
        <ul class="mt-4">
          {
            getAllPosts.map((post) => (
              <li class="mb-8">
                <a href={`/blog/${post.slug}/`}>
                  <div class="aspect-video mb-4">
                    <img
                      src={post.data.heroImage}
                      alt=""
                      class="w-full h-full object-cover object-center block rounded-xl shadow-md"
                    />
                  </div>
                  <h4 class="text-brand text-xl md:text-2xl font-semibold">
                    {post.data.title}
                  </h4>
                  <p class="text-gray-600 text-sm">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
