---
const { title, tag, heroImage, summary, link } = Astro.props;
---

<div>
  <a href={link} title={title} class="flex flex-col gap-3">
    <div class="aspect-[3/4]">
      <img
        src={heroImage}
        alt={title}
        title={title}
        class="object-cover object-center w-full h-full"
      />
    </div>
    <div class="flex flex-col gap-2 md:flex-row md:justify-between items-start">
      <p class="uppercase font-medium tracking-tight md:text-xl text-lg">
        {title}
      </p>
      <span
        class="rounded-full bg-brand/15 w-fit py-1 px-2 font-semibold text-xs inline-block"
      >
        {tag}
      </span>
    </div>
    <p class="text-gray-700 text-sm">{summary}</p>
  </a>
</div>
