---
import Article from "./Article.astro";
import { getLastPost } from "../consts";
---

<section class="container py-6 md:py-12">
  <div class="flex flex-col gap-4 md:flex-row md:gap-8 md:child:basis-full">
    <div class="flex flex-col justify-between gap-4">
      <h2
        class="text-2xl lg:text-5xl md:text-4xl sm:text-3xl text-brand font-semibold"
      >
        📚 Notre dernier article
      </h2>
      <div class="flex align-center gap-2 flex-wrap">
        {
          getLastPost.data.tags.map((tag) => (
            <span class="rounded-full bg-brand/15 w-fit py-1 px-3 font-semibold text-sm inline-block">
              {tag}
            </span>
          ))
        }
      </div>
      <Article
        title={getLastPost.data.title}
        link={`/blog/${getLastPost.slug}/`}
        summary={getLastPost.data.description}
      />
    </div>
    <div>
      <img
        src={getLastPost.data.heroImage}
        alt={getLastPost.data.title}
        title={getLastPost.data.title}
        class="h-full object-center object-cover"
      />
    </div>
  </div>
</section>
